*{
    padding: 0px;
    margin: 0px;

}
#container{
    margin-top: 30px;
    margin-left: 30px;
}
.color{
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 10px;
}

#black{
    background-color: black;
}
#red{
    background-color: red;
}
#blue{
    background-color: blue;
}
#green{
    background-color: green;
}
#pink{
    background-color: pink;
}

button{
    width: 100px;
    height: 30px;
    cursor: pointer;
}